h4,h5,h6,p{
    color:black;
    font-weight: 300;
}
label{
  color:white !important;
  font-weight: 300;
}
hr{
    height: 2px;
    background-color: #238cba;
    border: 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.slidein {
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
    
@-moz-keyframes slidein {
  from {
    margin-left:100%;
    width:100%
  }
  to {
    margin-left:0%;
    width:100%;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left:100%;
    width:100%
  }
  to {
   margin-left:0%;
   width:100%;
 }
}
@keyframes slidein {
  from {
    margin-left:100%;
    width:100%
  }
  
  to {
   margin-left:0%;
   width:100%;
 }
}
.seccion{
    background-color: rgba(0,0,0,0.4);
    /*animation-duration: 1.1s;
    animation-name: slidein;*/
}
#seccion1:hover h4{
    color:white !important;
}
#seccion1:hover p{
    color:white !important;
}

#seccion2:hover h4{
    color:white !important;
}
#seccion2:hover p{
    color:white !important;
}

#seccion3:hover h4{
    color:white !important;
}
#seccion3:hover p{
    color:white !important;
}

#seccion4{
    text-align: center;
}
#seccion4:hover h4{
    color:black !important;
}
#seccion4:hover p{
    color:black !important;
}

#seccion5{
    text-align: center;
}

#seccion6{
    background-color: rgba(109, 186, 212, 1.0);

}

#img{
     width: 15%; 
     margin-left: 5px;
}

#logo{
    width: 190px;
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}

#logo:hover {
    opacity: 1.0;
    color:white !important;
    background-color: rgba(0,0,0,0);
}

#brand{
     width: 65%; 
}
#hrfooter{
    width: 200px;
    background-color: darkgrey;
}
#form{
  background-color: rgba(35, 140, 186,0.7); 
  padding-right:40px; 
  padding-left: 40px; 
  width:380px;
}

.zoomIt{
    display:block!important;
    -webkit-transition:-webkit-transform 0.3s ease-out;
    -moz-transition:-moz-transform 0.3s ease-out;
    -o-transition:-o-transform 0.3s ease-out;
    -ms-transition:-ms-transform 0.3s ease-out;
    transition:transform 0.3s ease-out;
}

.zoomIt:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.zoomIt2{
    -webkit-transition:-webkit-transform 0.3s ease-out;
    -moz-transition:-moz-transform 0.3s ease-out;
    -o-transition:-o-transform 0.3s ease-out;
    -ms-transition:-ms-transform 0.3s ease-out;
    transition:transform 0.3s ease-out;
}

.zoomIt2:hover{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.icons ul{
    list-style-type: none; 
    text-align: center;
}

.icons li{
    display: inline;
    text-align: center;
    margin: 0 15px 0 0;
}
.icons .fa-twitter{
    color: #56d7fe;
}
.icons .fa-facebook{
    color: #3b5998;
}
.icons .fa-instagram{
    color: #b231b9;
} 
.icons .fa-envelope{
    color: lightyellow;
}





